@font-face {
    font-family: Seg;
    font-weight: 400;
    src: url(~@/assets/fonts/Segoe-UI.ttf);
}

@font-face {
    font-family: Seg-bold;
    font-weight: 700;
    src: url(~@/assets/fonts/Segoe-UI-Bold.ttf);
}

@font-face {
    font-family: Arial;
    font-weight: 400;
    src: url(~@/assets/fonts/ArialMT.ttf);
}